@font-face {
	font-family: 'Open Sans';
	src:url('assets/fonts/OpenSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Mono';
	src:url('assets/fonts/RobotoMono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: rgb(255, 255, 255);

}

label {
	display: block;
	margin: auto 5px;

	input {
		margin-left: 5px;
	}
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9999999;
	overflow: auto;

	.popup-inner {
		width: 40rem;
		margin: 5rem auto;
		background: white;
		font-size: 20px;
		text-align: center;
		overflow: hidden;

		justify-items: center;
		align-items: center;

		div {
			background-color: rgba(0, 0, 0, 0.07);
			width: 85%;
			height: 50%;
			border: none;
			border-radius: 4px;
			display: grid;
			grid-column-gap: 15px;
			justify-items: center;
			align-items: center;
			text-align: left;
			margin: 0 auto;

			img {
				grid-area: 1 / 1 / span 1 / span 2;
				height: 100px;
				width: auto;
				background: url(/assets/tutorial.jpg);
				width: 20rem;
				height: auto;
				margin: 10px;
			}

			p {
				margin: 0 8px;
				margin-bottom: 20px;
			}

		}

		h2 {
			font-size: 26px;
			margin-top: 30px;
			color: green;
		}

		label {
			margin: 20px;
			margin-bottom: 0;
		}

		.popup-input {
			margin: 20px;
			padding-left: 5px;
			width: 25rem;
			height: 2rem;
			font-size: 20px;
			border-style: solid;
			border-color: purple;
			border-width: 1px;
		}

		.popup-submit {
			margin: 20px;
			width: 20%;
			padding-top: .5rem;
			padding-bottom: .5rem;
			font-size: 20px;
			color: white;
			border-width: 0;
			background: purple;
		}
	}
}


.title-bar {
	height: 4rem;
	background: green;

	.title-text{
		float: left;
		margin-top: 15px;
		margin-left: 15px;
		margin-right: 15px;
		font-size: inherit;
		font-family: inherit;
		color: white;
		background: green;
		font-size: 1.5rem;
		border: 0px;
		max-width: 75%;
		overflow: hidden;
		white-space: nowrap;
	}

	.edit-title-button {
		float: left;
		margin-top: 25px;
		font-size: 12px;
		color: white;
		background: green;
		text-decoration: underline;
		border: 0px;
		cursor: pointer;
	}

	.help-button {
		color: white;
		background: green;
		cursor: pointer;
		border-radius: 3px;
		margin: auto 15px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 15px;
		top: 30px;
	}
}

.options-bar {
	background: rgba(245, 245, 245, 0.5);
	display: flex;
	flex-direction: row;
	overflow: auto;
	justify-content: center;

	.options,
	.style,
	.text,
	.header,
	.randomize {
		margin: auto 0;
		padding: 0 1rem;
		border-style: solid;
		border-color: lightgray;
		border-width: 0 0 0 1px;
		height: 3rem;
		display: flex;
		flex-direction: row;
		white-space: nowrap;

		input {
			&[type=number] {
				width: 2em;
				text-align: center;
			}
		}
		.active {
			background: rgba(173, 216, 230, 0.5);
		}

		div {
			display: flex;
			flex-direction: row;
			background: rgb(233, 233, 233);
			height: 40%;
			margin: auto 0;
			padding: .3rem;
			border-radius: 2px;

			svg {
				margin-left: 3px;
				color: rgba(173, 216, 230, 0.5);
			}

			label {
				margin-left: 3px;
			}
		}
	}

	.randomize {
		input {
			border-width: 0;
			background: inherit;
			font-size: 16px;
			text-decoration: underline;
		}
	}

	.options {
		height: 40%;
		border-width: 0;
	}
}

.table-container {
	top: 20px;
	font-family: 'Roboto Mono', sans-serif;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.table-text {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		white-space: nowrap;

		.what-to-do {
			padding: 20px;
			border-style: solid;
			border-color: lightgray;
			border-width: 0 1px 0 0;
		}

		ul {
			li + li {
				margin-top: 10px;

				.blue-text {
					padding: 2px 5px;
					color: rgb(1, 56, 75);
					background: rgba(173, 216, 230, 0.5);
				}
			}
		}
	}

	.table {
		top: 10px;
		position: relative;
		clear:both;
		float:left;
		padding-right: 50px;


		.delete-cell,
		.empty-cell {
			width: 2%;
			border-width: 0;
			opacity: 0;
		}

		.delete-button {
			font-size: 20px;
		}

		.table-elements {
			position: relative;

			table {
				margin: 0;
				border-width: 0;
				border-collapse: collapse;

				tr {
					@for $i from 1 through 21 {
						td:first-child:nth-last-child(#{$i}),
						td:first-child:nth-last-child(#{$i}) ~ td {
							width: 100% / $i;
						}
					}
				}

				td {
					max-width: 100%;
					word-break: break-all;
					border: 1px solid black;

					div {
						padding: .5em;
						display:flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;

						input {
							&[type=text] {
								resize: horizontal;
								font-size: inherit;
								font-family: inherit;
								width: 80%;
								height: 2em;
								border: none;
								background-color: rgba(255, 255, 255, 0);
							}

							&[type=checkbox] {

							}
						}
					}

					label {
						font-size: 12px;
					}
				}
			}

			.column-buttons {
				bottom: 0;
				left: 100%;
				width: 50px;
				height: 100%;
				position: absolute;

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				button {
					height: 49%;
					border-style: dotted;
					border-color: purple;
					border-width: 1px;
					margin: auto;
				}
			}
		}

		.row-buttons {
			width: 100%;
			height: 50px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			button {
				width: 49%;
				border-style: dotted;
				border-color: purple;
				border-width: 1px;
			}
		}

		svg {
			fill: purple;
		}
	}
}

.center-align {
	input {
		text-align: center;
	}
}

.header-cell {
	font-weight: bold;
	background-color: #e7e8e7 !important;

	input {
		&[type=checkbox] {
			opacity: 0;
			height: 0;
		}
	}
}

.hidden {
	background: rgba(173, 216, 230, 0.5);
}
