@import 'base';

label {
	display: block;
	margin: 10px 5px;

	input {
		margin-left: 5px;
	}
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 25%;
  bottom: auto;
  margin: auto;
  border-radius: 20px;
	background: white;
	height: 5rem;
}

.popup-input {
	margin: auto;
	width: 25rem;
}

.popup-input {
	width: 25rem;
}

.title-bar {
	height: 4rem;
	background: green;

	.title-input,
	.title-text{
		float: left;
		margin-top: 20px;
		margin-left: 15px;
		margin-right: 15px;
		font-size: inherit;
		font-family: inherit;
		color: white;
		background: green;
		font-size: 1.5rem;
		border: 0px;
	}

	.edit-title-button {
		float: left;
		margin-top: 30px;
		font-size: 12px;
		color: white;
		background: green;
		text-decoration: underline;
		border: 0px;
	}

	.title-input {
		width:20rem;
		color: black;
		background: rgb(134, 255, 154);
	}
}

.options-bar {
	background: white;
	display: flex;
	flex-direction: row;
	height: 3rem;

	.options,
	.style,
	.text,
	.header,
	.randomize {
		margin: auto 0;
		top: 15px;
		padding: 0 1rem;
		border-style: solid;
		border-color: lightgray;
		border-width: 0 0 0 1px;
	}

	.options {
		border-width: 0;
	}

	.style {
		display: flex;
		flex-direction: row;

		div {
			margin: auto 10px;
		}

		.radio {
		}
	}
}


.dimensions-input {
	margin-top: 2rem;
	top: 7.5rem;
}

table, td {
	td {
		input {
			&[type=text] {
				&:hover, &:focus {
					background-color: inherit;
				}
			}
		}
	}
}

table {
	max-width: 100%;
}

.lit {
	border-color: #b944cc;
	box-shadow: inset 0 0 10px #b944cc;
}


.table-container {
	text-align: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

.table-elements {

	.table {
		clear:both;
		float:left;

		table {
			margin: 0;
		}
	}

	.increase-column-container {
		clear: none;
		float: left;
	}

	.increase-row-container {
		clear: both;
		float: left;
	}
	.table-submit-button {
		margin-top: 1rem;
	}
}
