@import 'base';

label {
	display: block;
	margin: auto 5px;

	input {
		margin-left: 5px;
	}
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9999999;
	overflow: auto;

	.popup-inner {
		top: 20rem;
		width: 40rem;
		margin: 10rem auto;
		background: white;
		font-size: 20px;
		text-align: center;
		overflow: hidden;

		justify-items: center;
		align-items: center;

		div {
			background-color: rgba(0, 0, 0, 0.07);
			width: 85%;
			height: 50%;
			border: none;
			border-radius: 4px;
			display: grid;
			grid-column-gap: 15px;
			justify-items: center;
			align-items: center;
			text-align: left;
			margin: 0 auto;

			img {
				grid-area: 1 / 1 / span 1 / span 2;
				height: 100px;
				width: auto;
				background: url(tutorial.jpg);
				width: 20rem;
				height: auto;
				margin: 10px;
			}

			p {
				margin-bottom: 20px;
			}

		}

		h2 {
			font-size: 26px;
			margin-top: 30px;
			color: green;
		}

		label {
			margin: 20px;
			margin-bottom: 0;
		}

		.popup-input {
			margin: 20px;
			padding-left: 5px;
			width: 25rem;
			height: 2rem;
			font-size: 20px;
			border-style: solid;
			border-color: purple;
			border-width: 1px;
		}

		.popup-submit {
			margin: 20px;
			width: 20%;
			padding-top: .5rem;
			padding-bottom: .5rem;
			color: white;
			border-width: 0;
			background: purple;
		}
	}
}


.title-bar {
	height: 4rem;
	background: green;

	.title-input,
	.title-text{
		float: left;
		margin-top: 20px;
		margin-left: 15px;
		margin-right: 15px;
		font-size: inherit;
		font-family: inherit;
		color: white;
		background: green;
		font-size: 1.5rem;
		border: 0px;
	}

	.edit-title-button {
		float: left;
		margin-top: 30px;
		font-size: 12px;
		color: white;
		background: green;
		text-decoration: underline;
		border: 0px;
	}

	.title-input {
		width:20rem;
		color: black;
		background: rgb(201, 255, 210);
	}
}

.options-bar {
	background: white;
	display: flex;
	flex-direction: row;
	overflow: auto;
	justify-content: center;

	.options,
	.style,
	.text,
	.header,
	.randomize {
		margin: auto 0;
		padding: 0 1rem;
		border-style: solid;
		border-color: lightgray;
		border-width: 0 0 0 1px;
		height: 3rem;
		display: flex;
		flex-direction: row;
		white-space: nowrap;

		.active {
			background: rgb(196, 225, 235);
		}

		div {
			display: flex;
			flex-direction: row;
			background: rgb(233, 233, 233);
			height: 40%;
			margin: auto 0;
			padding: .3rem;
			border-radius: 2px;

			svg {
				margin-left: 3px;
				color: lightblue;
			}

			label {
				margin: 1px 0 0 3px;
			}
		}
	}

	.randomize {
		input {
			border-width: 0;
			background: inherit;
			font-size: 16px;
			text-decoration: underline;
		}
	}

	.options {
		height: 40%;
		border-width: 0;
	}
}

table {
	max-width: 100%;
}

.lit {
	border-color: #b944cc;
	box-shadow: inset 0 0 10px #b944cc;
}

.table-container {
	justify-content: center;
	display: flex;

	.table {
		top: 10rem;
		position: absolute;
		clear:both;
		float:left;


		.table-elements {
			position: relative;

			table {
				margin: 0;
			}

			.increase-column-button {
				top: 0;
				right: 0;
				bottom: 0;
				width: 50px;
				left: 100%;
				height: 100%;
				position: absolute;
			}
		}

		.increase-row-button {
			width: 100%;
			height: 50px;
		}

		.table-submit-button {
			margin-top: 1rem;
		}

		button {
			background: rgba(255, 255, 255, 0);
			border-style: dotted;
			border-color: purple;
			border-width: 1px;
			color: purple;

			span {
				height: 24px;
			}
		}

		svg {
			fill: purple;
		}
	}
}
